.login{
    color: aliceblue;
    /* border-width: 2px; */
    /* border-color: blueviolet; */
    border-radius: 10px;
    background-color:  #3500D3;
    width: 20%;
    margin-left: 40%;
    margin-top: 10%;
    height: 50%;
    padding-left: 2%;
    padding: 3%;
}

.background{
    background-color: #0C0032;
}

.signin{
    font-family: 'Salsa', cursive;
    text-align: center;
    font-size:20px;
    margin: 20px ;
}

input{
    width: 70%;
    margin-bottom: 10px;
}    

.text{
    margin: 1px 1px;
}